@section Scripts {
    <script src="~/Scripts/Custom/picturemodel.js"></script>
}
<div data-bind="with: result">
    <div data-bind="foreach:Photos" class="row text-center text-lg-left">
        <div class="col-lg-4 col-md-6 col-xs-6 image-div">
            <img data-bind="attr:{src: ImgUrl}" class="img-fluid img-thumbnail"  alt="">
            <div class="middle">
                <a class="btn btn-success btn-sm btn-inline">
                    <span class="glyphicon glyphicon-save"></span> Save
                </a>
                <a data-bind="click: $root.favourite"class="btn btn-success btn-sm btn-inline">
                    <span class="glyphicon glyphicon-star-empty"></span> Fav
                </a>
            </div>
        </div>
    </div>
</div>


@*<div data-bind="foreach: result">
    <div data-bind="foreach:Photos" class="col-md-9 fill-height-content">
        <div class="col-md-3 image-div">
            <img data-bind="attr:{src: ImgUrl}" alt="Avatar" class=" img-responsive" style="height:200px; width:240px">
            <div class="middle">
                <a href="#" class="btn btn-success btn-sm btn-inline">
                    <span class="glyphicon glyphicon-save"></span> Save
                </a>
                <a href="#" class="btn btn-success btn-sm btn-inline">
                    <span class="glyphicon glyphicon-star-empty"></span> Fav
                </a>
            </div>
        </div>
    </div>
</div>*@

