@section Scripts {
    <script src="~/Scripts/Custom/picturemodel.js"></script>
}
<div class="col-md-2 fill-height-left">
    <h2>Getting started</h2>
    <p>
        ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
</div>
<div class="col-md-9 fill-height-content">
    <div class="col-md-3 image-div">
        <img src="https://as.ftcdn.net/r/v1/pics/33a88d84179a9a66f91b15a398f157f3fa6c7e3c/landing/images_vectors.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
            <a href="#" class="btn btn-success btn-sm btn-inline">
                <span class="glyphicon glyphicon-save"></span> Save
            </a>
            <a href="#" class="btn btn-success btn-sm btn-inline">
                <span class="glyphicon glyphicon-star-empty"></span> Fav
            </a>
        </div>
    </div>
</div>
<div class="col-md-1 fill-height-left">
    <h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
</div>

